@use "sass:map";

@mixin define-css-variables($map, $prefix: "") {
    @each $key, $value in $map {
        --#{$prefix}#{$key}: #{$value};
    }
}

@mixin low-level-font-management($val1, $val2, $val3, $val4) {
    font-feature-settings: #{$val1},
    #{$val2},
    #{$val3},
    #{$val4};
    -moz-font-feature-settings: #{$val1},
    #{$val2},
    #{$val3},
    #{$val4};
    -ms-font-feature-settings: #{$val1},
    #{$val2},
    #{$val3},
    #{$val4};
    -webkit-font-feature-settings: #{$val1},
    #{$val2},
    #{$val3},
    #{$val4};
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Geist.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    @include low-level-font-management("kern", "liga", "clig", "calt");
}

@font-face {
    font-family: "Franuces";
    src: url("../fonts/Franuces.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    @include low-level-font-management("kern", "liga", "clig", "calt");
}

// Font fallback stack
$font-family: "Inter",
    "Franuces",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    Arial,
    sans-serif;

// Monospace context
$monospace-font-family: "Cascadia Code",
    "Fira Code",
    "Source Code Pro",
    Menlo,
    Consolas,
    "Courier New",
    monospace;

$font-display: fallback;
$rounded: (
    sm: 18px,
    l: 23px,
    xl: 28px,
    xxl: 42px
);

$colors: (
    one: #FDF9FD,
    two: #1F1F24,
    three: #0f3d75,
    four: #F03D1F,
    five: #2A293B,
    six: #FCD93A,
    seven: #F9C80E,
    eight: #f0ebf0
);

$sizes: (
    content: 650px,
    logo: 412px,
    icon-sm: 54px,
    icon: 72px
);

$themes: (
    light: (clr-one: #FDF9FD,
        clr-two: #1F1F24,
        clr-six: #FCD93A,
        clr-eight: #f0ebf0,
        bs-body-bg: #FDF9FD,
        bs-body-color: #1F1F24),
    dark: (clr-one: #1F1F24,
        clr-two: #FDF9FD,
        clr-six: #FCD93A,
        clr-eight: #2A293B,
        bs-body-bg: #1F1F24,
        bs-body-color: #FDF9FD)
);

:root {
    font-size: 16px;
    font-family: #{$font-family};
    font-display: #{$font-display};
    @include define-css-variables($rounded, "rounded-");
    @include define-css-variables($colors, "clr-");
    @include define-css-variables($sizes, "sizes-");

    &[data-bs-theme="light"] {
        @include define-css-variables(map.get($themes, light));
    }

    &[data-bs-theme="dark"] {
        @include define-css-variables(map.get($themes, dark));
    }
}

article {
    @supports (text-wrap: avoid-short-last-lines) {
        text-wrap: avoid-short-last-lines;
    }

    @supports not (text-wrap: avoid-short-last-lines) {
        text-wrap: pretty;
    }
}

.htmx-animation {
    -webkit-animation: fade-in 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) alternate both;
    animation: fade-in 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) alternate both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.tooltip-animation {
    -webkit-animation: scale-in-top 0.66s cubic-bezier(0.785, 0.135, 0.150, 0.860) alternate both;
    animation: scale-in-top 0.66s cubic-bezier(0.785, 0.135, 0.150, 0.860) alternate both;
}

@-webkit-keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

@keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}