@use "sass:map";

@font-face {
    font-family: "Inter";
    src: url("../fonts/Geist.woff2") format("woff2");
}

$font-family: "Inter", sans-serif;
$font-display: auto;

$rounded: (
    sm: 18px,
    l: 23px,
    xl: 28px,
    xxl: 42px
);

$colors: (
    one: #FDF9FD,
    two: #1F1F24,
    three: #0f3d75,
    four: #F03D1F,
    five: #2A293B,
    six: #FCD93A,
    seven: #F9C80E,
    eight: #f0ebf0
);

$sizes: (
    content: 650px,
    logo: 412px,
    icon-sm: 54px,
    icon: 72px
);

$themes: (
    light: (clr-one: #FDF9FD,
        clr-two: #1F1F24,
        clr-six: #FCD93A,
        clr-eight: #f0ebf0,
        bs-body-bg: #FDF9FD,
        bs-body-color: #1F1F24),
    dark: (clr-one: #1F1F24,
        clr-two: #FDF9FD,
        clr-six: #FCD93A,
        clr-eight: #2A293B,
        bs-body-bg: #1F1F24,
        bs-body-color: #FDF9FD)
);

@mixin define-css-variables($map, $prefix: "") {
    @each $key, $value in $map {
        --#{$prefix}#{$key}: #{$value};
    }
}

:root {
    --font-family: #{$font-family};
    --font-display: #{$font-display};
    @include define-css-variables($rounded, "rounded-");
    @include define-css-variables($colors, "clr-");
    @include define-css-variables($sizes, "sizes-");

    &[data-bs-theme="light"] {
        @include define-css-variables(map.get($themes, light));
    }

    &[data-bs-theme="dark"] {
        @include define-css-variables(map.get($themes, dark));
    }
}