@use "m_queries";
@use "globals";

// Global breakpoints
$mobile-breakpoints: phone, phone-portrait, phone-landscape;
$tablet-breakpoints: tablet, tablet-portrait, tablet-landscape;
$desktop-small-breakpoints: desktop-small, desktop-large;
$desktop-breakpoints: desktop-small, desktop-large, large-screen;
$all-mobile-tablet-breakpoints: phone, phone-portrait, phone-landscape, tablet, tablet-portrait, tablet-landscape;
$global: phone, phone-portrait, phone-landscape, tablet, tablet-portrait, tablet-landscape, desktop-small, desktop-large, large-screen;

// Helper mixins
@mixin transition($props...) {
    transition: $props;
}

@mixin animation($name, $duration, $timing-function, $fill-mode) {
    -webkit-animation: #{$name} #{$duration} #{$timing-function} #{$fill-mode};
    animation: #{$name} #{$duration} #{$timing-function} #{$fill-mode};
}

@mixin borderRadius($radius) {
    border-radius: $radius;
}

@mixin hover-underline($color) {
    position: relative;
    display: inline-block;

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100%;
        border: 1px solid $color;
        border-radius: 24px;
        transform: translateX(-50%) scaleX(0);
        transform-origin: left;
        transition: transform 0.25s ease;
        z-index: 999;
    }

    &:hover::after {
        transform: translateX(-50%) scaleX(1);
    }
}

@mixin responsive-font-size($breakpoints, $size) {
    @each $bp in $breakpoints {
        @include m_queries.responsive($bp) {
            font-size: $size !important;
        }
    }
}

@mixin hide-on($breakpoints) {
    @each $bp in $breakpoints {
        @include m_queries.responsive($bp) {
            display: none !important;
        }
    }
}

@mixin show-on($breakpoint) {
    @include m_queries.responsive($breakpoint) {
        display: block !important;
    }
}

@mixin gradient-inset-box-shadow {
    box-shadow:
        inset 30px 0 30px -20px rgba(0, 0, 0, 0.05),
        inset -30px 0 30px -20px rgba(0, 0, 0, 0.05);
}

@mixin apply-to-selectors($selectors, $rules) {
    @each $selector in $selectors {
        #{$selector} {
            @content;
        }
    }
}

@mixin responsive-flex-direction($breakpoints, $direction) {
    @each $bp in $breakpoints {
        @include m_queries.responsive($bp) {
            flex-direction: $direction !important;
        }
    }
}

@mixin responsive-styling($breakpoints, $property, $value) {
    @each $bp in $breakpoints {
        @include m_queries.responsive($bp) {
            #{$property}: $value !important;
        }
    }
}

@mixin hide-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }

    & {
        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }
}

@mixin background-cover($image-path) {
    background: url($image-path);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin custom-font($font-family) {
    font-family: $font-family !important;
}

@mixin wavy-text($color) {
    -webkit-text-decoration-style: wavy;
    -moz-text-decoration-style: wavy;
    text-decoration-style: wavy;
    text-decoration: underline wavy .07em $color;
}

@mixin dynamic-font-size($min-size, $viewport-factor, $max-size) {
    font-size: clamp($min-size, $viewport-factor, $max-size);
}

@mixin custom-bee-color {
    color: #1F1F24 !important;
    background: var(--clr-six) !important;
}

@mixin neumorphic-background($border-radius: 50px) {
    background: linear-gradient(225deg, #e3c334, #ffe83e) !important;
}

@mixin custom-box-shadow($p1, $p2, $p3, $p4, $alpha) {
    box-shadow: $p1 $p2 $p3 $p4 rgba(0, 0, 0, $alpha);
    -webkit-box-shadow: $p1 $p2 $p3 $p4 rgba(0, 0, 0, $alpha);
    -moz-box-shadow: $p1 $p2 $p3 $p4 rgba(0, 0, 0, $alpha);
}

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font-family);
    font-display: var(--font-display);
    @include transition(background-color 0.25s ease-in-out, color 0.25s ease-in);
}

@layer init, secondary, third;

@layer init {

    /* htmx related */
    .htmx-anim.faded {
        opacity: .25;
    }

    .htmx-anim {
        opacity: 1;
        transition: opacity ease-in 900ms;
    }

    body {
        background: var(--clr-one) !important;
    }

    .header-btn-bg {
        color: var(--clr-two) !important;
        background: var(--clr-one) !important;
    }

    .header-btn-bg-alt,
    .header-day-night-btn,
    .header-lang-switch-btn,
    .header-btn-bg-important,
    .hero-btn,
    .header-responsive-btn,
    #aboutFormSubmitBtn {
        @include custom-bee-color();
    }

    .header-btn-bg-important>span {
        @include hide-on($mobile-breakpoints);
    }

    .hr-btn-text {
        @include hover-underline(#1F1F24);
        @include transition(all .35s ease-in-out);
    }

    .hr-daynight-switch-icon {
        transform: rotate(0);
        @include transition(transform .25s ease-in-out !important);

        &:hover {
            transform: rotate(90deg);
        }
    }

    .header-day-night-btn {
        @include transition(all 0.25s ease-in-out);
    }

    #headerM {
        @include hide-on($all-mobile-tablet-breakpoints);
    }

    #headerRM {
        @include hide-on($desktop-breakpoints);

        & {
            width: max-content !important;
            position: absolute;
            z-index: 999 !important;
            inset-inline-end: 0;
            inset-block-start: 6px;
            background: var(--bs-body-color) !important;
            animation: tilt-in-right-1 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

        &>ul {
            margin: .20rem !important;

            >li {
                padding: .25rem !important;

                >a {
                    min-width: 150px !important;
                }
            }
        }
    }

    @keyframes tilt-in-right-1 {
        0% {
            transform: rotateX(-30deg) translateX(300px) skewX(30deg);
            opacity: 0;
        }

        100% {
            transform: rotateX(0deg) translateX(0) skewX(0deg);
            opacity: 1;
        }
    }

    .header-responsive-btn {
        @include borderRadius(var(--rounded-sm));
        @include hide-on($desktop-breakpoints);
        @include show-on(phone);
    }

    .header-middle-nav-links {
        @include responsive-styling($all-mobile-tablet-breakpoints, width, calc(100dvw - 2rem));
        @include responsive-styling($all-mobile-tablet-breakpoints, min-height, calc(75dvh - 2rem));
        @include responsive-styling($all-mobile-tablet-breakpoints, margin, 1rem);
    }

    #hrBtn,
    #hrDayNightBtn,
    #responsiveMenuToggleBtn,
    #hrLangSwitchBtn {
        height: 54px !important;
    }

    #headerResponsive {
        position: sticky;
        top: 10px;
        height: 30%;
        z-index: 999;
    }

    .header-logo {
        @include borderRadius(50%);
        @include responsive-font-size($mobile-breakpoints, 54px);
        @include show-on(desktop);

        & {
            --icon-w: 54px;
            width: var(--icon-w);
            height: auto;
            object-fit: cover;
            border: 3px solid var(--clr-two);
        }
    }

    .pulsate-fwd {
        animation: pulsate-fwd 4s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite both;
    }

    @keyframes pulsate-fwd {
        100% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.15);
        }
    }

    .header-middle-nav-links>li>a {
        @include transition(all 0.25s ease-in-out);
        @include hover-underline(var(--clr-two));

        & {
            position: relative;
            display: inline-block;
        }

        &::after {
            bottom: 5.5px;
            width: 75%;
        }
    }

    .lang-switch-box {
        @include custom-bee-color();
    }

    #responsiveNavbar {
        flex-direction: column !important;
        width: 100%;
    }

    #hero {
        min-height: var(--sizes-content);
        background: var(--clr-eight);
    }

    .hero-child {
        @include responsive-flex-direction($all-mobile-tablet-breakpoints, column-reverse);
        @include responsive-flex-direction($desktop-breakpoints, row);

        @each $bp in $all-mobile-tablet-breakpoints {
            @include m_queries.responsive($bp) {
                padding: .75em !important;

                #hero {
                    min-height: fit-content !important;
                }

                #heroLogoBg {
                    background-position: center;
                }

                .hero-logo {
                    --logo-mw: 256px;
                    width: var(--logo-mw);
                }

                .ocps-hero-img-container,
                .ocps-container {
                    min-width: 100% !important;
                }

                .ocps-container {
                    margin-top: .75em !important;
                    gap: .65rem !important;
                }

                #mottosSection {
                    padding-bottom: .55em !important;
                }

                .motto-element {
                    font-size: .25em !important;
                    font-weight: 400 !important;
                    margin-bottom: .15em !important;
                }
            }
        }
    }

    .hero-title-container {
        @include responsive-styling($all-mobile-tablet-breakpoints, margin-top, .75rem);
    }

    .ocps-buttons {
        @include responsive-styling($all-mobile-tablet-breakpoints, flex-direction, column);
        @include responsive-styling($all-mobile-tablet-breakpoints, width, 100%);
    }

    .hero-btn {
        @include responsive-styling($all-mobile-tablet-breakpoints, width, 100%);
    }

    #heroLogoBg {
        @include borderRadius(var(--rounded-big));
        background-image: radial-gradient(var(--clr-five) 10%, transparent 10%);
        background-position: 5px 8px;
        background-size: 24px 24px;
    }

    .hero-logo {
        width: var(--sizes-logo);
        height: auto;
        object-fit: cover;
        @include borderRadius(50%);
    }

    .motto-element {
        color: var(--clr-one);
        background: var(--clr-two);
        animation: fade-in-fwd 0.55s cubic-bezier(.25, .46, .45, .94) both;
    }

    @keyframes fade-in-fwd {
        0% {
            transform: translateZ(-80px);
            opacity: 0;
        }

        100% {
            transform: translateZ(0);
            opacity: 1;
        }
    }

    #ocps {
        min-height: 2ch;
        @include responsive-styling($mobile-breakpoints, min-height, 4ch);
    }

    #mottosSection {
        min-height: 8ch;
    }

    .cursor {
        display: inline-block;
        width: 1ch;
        animation: blink 1s step-end infinite;
    }

    .post-lang-img {
        width: 32px;
    }

    @keyframes blink {
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }

    #promo,
    #promoFinalNote {
        min-height: var(--sizes-content);
    }

    #pfnSocials {
        background: var(--clr-eight);
    }

    .promo-videos-container {
        @include responsive-flex-direction($mobile-breakpoints, column);
        @include responsive-flex-direction($tablet-breakpoints, column);
        @include responsive-flex-direction($desktop-breakpoints, row);

        & {
            gap: .55rem !important;
        }
    }

    .promo-motto-quote-container {
        --def-height: 256px;
        min-height: var(--def-height);
        @include custom-font("Franuces");
        @include custom-bee-color();
        @include responsive-styling($all-mobile-tablet-breakpoints, align-items, start);
        @include responsive-styling($mobile-breakpoints, flex-direction, column);
        @include responsive-styling($mobile-breakpoints, gap, .25em);

        &>h3 {
            @include responsive-styling($all-mobile-tablet-breakpoints, font-size, 1rem);
            text-decoration-skip-ink: auto;
            text-emphasis-position: under right;
        }
    }

    .promo-motto-quote-icon {
        filter: drop-shadow(5px 5px 97px #000000);
        @include dynamic-font-size(2rem, calc(8vw + 4rem), 12rem);
    }

    #promo_Description {
        & {
            min-height: 450px !important;
        }

        @include responsive-styling($mobile-breakpoints, flex-direction, column-reverse);
        @include responsive-styling($tablet-breakpoints, flex-direction, column-reverse);
        @include responsive-styling($mobile-breakpoints, margin, 0);
        @include responsive-styling($mobile-breakpoints, padding, .25em);
    }

    .promo-featured-tabs {
        @include responsive-styling($mobile-breakpoints, flex-direction, row);
        @include hide-scrollbar();

        & {
            overflow-x: scroll;
        }
    }

    .promo-projects-container {
        @include responsive-styling($mobile-breakpoints, align-items, baseline);
        @include responsive-styling($mobile-breakpoints, justify-content, baseline);

        @each $bp in $mobile-breakpoints {
            @include m_queries.responsive($bp) {
                flex-direction: row !important;
                flex-wrap: nowrap !important;
                overflow-x: scroll !important;
                scroll-snap-type: x mandatory;
                scroll-padding-left: 0 !important;
                @include hide-scrollbar();
            }
        }
    }

    #promoCardContainer {
        @include responsive-flex-direction($mobile-breakpoints, row);
        @include responsive-styling($mobile-breakpoints, flex-wrap, nowrap);
        @include responsive-styling($mobile-breakpoints, justify-content, start);
        @include responsive-styling($tablet-breakpoints, flex-wrap, wrap);

        &>div {
            @include responsive-styling($mobile-breakpoints, scroll-snap-align, start);
            @include responsive-styling($mobile-breakpoints, flex-shrink, 0);
        }
    }

    .promo-interested-button {
        @include responsive-styling($mobile-breakpoints, width, 100%);
    }

    .marquee-container:hover .marquee-content {
        animation-play-state: paused;
    }

    .marquee-content {
        animation: marquee 30s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-75%);
        }
    }

    .psc-container {
        width: 100%;
        background: var(--clr-eight);
        @include gradient-inset-box-shadow;
    }

    #promoSkillsContainer {
        width: 100%;
        white-space: nowrap;

        @each $bp in $mobile-breakpoints {
            @include m_queries.responsive($bp) {
                animation: marquee 30s linear infinite;

                &:hover {
                    animation-play-state: paused;
                }

                &>.promo-skills-fig {
                    filter: brightness(100%) grayscale(0%);
                }
            }
        }
    }

    @keyframes marquee {
        0% {
            transform: translateX(150%);
        }

        100% {
            transform: translateX(-150%);
        }
    }

    .promo-skills-fig {
        flex: 0 0 auto;
        min-height: 16.1ch !important;
        width: 100px;
        height: auto;
        object-fit: cover;
        filter: brightness(65%) grayscale(25%);

        &:hover {
            filter: brightness(100%) grayscale(0%);
        }
    }

    .promo-skills-img {
        --def-wh: 100px !important;
        min-height: var(--def-wh);
        max-width: var(--def-wh);
    }

    #promoCard {
        color: var(--clr-one);
        background: var(--clr-two);
        width: 34ch;
        height: 34ch;
        min-height: 375px;
        @include borderRadius(var(--rounded-sm));

        @each $bp in $mobile-breakpoints {
            @include m_queries.responsive($bp) {
                width: 27ch !important;
            }
        }
    }

    #promoLink {
        transition: all .25s ease-in-out;

        &:hover {
            border: 1px solid var(--clr-five) !important;
        }
    }

    .promo-project-link-icon {
        display: none;
    }

    .promo-video {
        filter: opacity(85%);
    }

    .promo-socials-fig>a>img {
        width: 46px;
    }

    .p-vertical {
        width: 60px !important;
        transform: rotate(90deg);
    }

    .promo-tc-icon {
        font-size: 6rem !important;
        animation: fade-in-fwd 0.55s cubic-bezier(.25, .46, .45, .94) both;
    }

    .promo-title-container {
        @each $bp in $all-mobile-tablet-breakpoints {
            @include m_queries.responsive($bp) {
                text-align: start !important;
            }
        }
    }

    .pfns-link {
        color: var(--clr-one) !important;
        background: var(--clr-two);

        &>.pfns-icon {
            color: var(--clr-two);
            background: var(--clr-one);
        }
    }

    /* Teaching Section */
    #promoTE {
        @each $bp in $all-mobile-tablet-breakpoints {
            @include m_queries.responsive($bp) {
                display: flex !important;
                flex-direction: column !important;
                margin-top: 0 !important;
                padding: .25em !important;
                font-size: smaller !important;
            }
        }

        &>div>.pt-head>p.h1 {
            @include responsive-font-size($mobile-breakpoints, 1.85em);

            @each $bp in $mobile-breakpoints {
                @include m_queries.responsive($bp) {
                    line-height: 1.45em !important;
                }
            }
        }

        &>div>.pt-head>p {
            @include responsive-font-size($mobile-breakpoints, 1.65em);

            @each $bp in $mobile-breakpoints {
                @include m_queries.responsive($bp) {
                    line-height: 1.35em !important;
                }
            }
        }

        &>.te-img-container {
            @include hide-on($mobile-breakpoints);
        }
    }

    .te-img-container>ul>li {
        border: none !important;
    }

    .te-img-container>ul>li>img {
        width: 128px;
    }

    // Footer
    .footer-container {
        background: var(--clr-eight);
    }

    .footer-links {
        white-space: nowrap;
    }

    .footer-promo-links {
        @include responsive-styling($mobile-breakpoints, flex-direction, column);
    }

    .footer-brading-list {
        @include responsive-styling($mobile-breakpoints, flex-direction, column);
        @include responsive-styling($mobile-breakpoints, align-items, end);
        @include responsive-styling($mobile-breakpoints, justify-content, space-evenly);
    }

    .footer-left {
        @include responsive-styling($mobile-breakpoints, flex-grow, 1);
    }

    .footer-right-brand {
        --def-h: 42px;
        height: var(--def-h) !important;
    }

    /***** ABOUT *****/
    #about-aside,
    #about-main {
        background: var(--clr-eight);
    }

    #about-main {
        @include responsive-styling($desktop-breakpoints, height, 100dvh);
        @include responsive-styling($desktop-breakpoints, min-height, 664px);
        @include hide-scrollbar();
    }

    #about-scroll-spy-id {
        &::-webkit-scrollbar {
            display: none;
        }

        & {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        @each $bp in $mobile-breakpoints {
            @include m_queries.responsive($bp) {
                align-items: unset !important;
                justify-content: unset !important;
                flex-direction: row !important;
                flex-wrap: nowrap !important;
                overflow-x: scroll !important;
                scroll-snap-type: x mandatory !important;
                scroll-padding-left: 0 !important;
            }
        }
    }

    .aside-skill-name {
        @include responsive-styling($tablet-breakpoints, flex-direction, column);
    }

    .aside-skill {
        @include responsive-font-size($mobile-breakpoints, .80em);
        @include responsive-font-size($tablet-breakpoints, .65em);
        @include responsive-font-size($desktop-small-breakpoints, .65em);
    }

    .about-li1-text>mark {
        border-radius: var(--rounded-sm);
    }

    .aside-socials {
        color: var(--clr-two);
        background: var(--clr-one);
        transition: all .25s ease-in-out;

        &:hover {
            .about-socials-arrow {
                @include animation(swing-in-left-fwd, .25s, cubic-bezier(0.785, 0.135, 0.150, 0.860), alternate both);
                opacity: 1;
            }
        }
    }

    .about-socials-arrow {
        opacity: 0;
    }

    @keyframes swing-in-left-fwd {
        0% {
            -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
            -webkit-transform-origin: left;
            transform-origin: left;
            opacity: 0;
        }

        100% {
            -webkit-transform: rotateY(0);
            transform: rotateY(0);
            -webkit-transform-origin: left;
            transform-origin: left;
            opacity: 1;
        }
    }

    .aside-ico {
        --ico-w: 34px;
        width: var(--ico-w);
        height: auto;
    }

    /* Modals */
    .modal-content {
        background-color: var(--clr-eight) !important;
        @include animation(scale-in-center, .45s, cubic-bezier(0.770, 0.000, 0.175, 1.000), alternate both);
    }

    @-webkit-keyframes scale-in-center {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 1;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes scale-in-center {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 1;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }

    /* 404 */
    #err_404 {
        @include background-cover("../images/static/svg/parabolic-rectangle.svg");
    }

    /* Blog (updates) */

    #blogContainer,
    #blogMain {
        @include responsive-styling($mobile-breakpoints, height, auto);
    }

    #blogContainer {
        @include responsive-styling($mobile-breakpoints, row-gap, 1rem);
    }

    #blogMain {
        @include responsive-styling($mobile-breakpoints, height, 85dvh);
    }

    #blogMain,
    #blogAside {
        background: var(--clr-eight);
    }

    #blogAside {
        @include responsive-styling($all-mobile-tablet-breakpoints, display, none);
    }

    #blogAsideChild {
        background: var(--clr-one);
    }

    /* Promo - Interested In Working */

    .promo-interested-container {
        background: var(--clr-eight);
    }

    .promo-interested-img {
        --def-height: 512px;
        max-width: 100%;
        max-height: var(--def-height);
        object-fit: cover;
    }

    /* Work Page */

    #mainWork {
        --def-height: 512px;
        height: var(--def-height);
        background-image: linear-gradient(var(--clr-eight) 1px, transparent 1px, transparent calc(100% - 1px), var(--clr-eight) calc(100% - 1px)), linear-gradient(90deg, var(--clr-eight) 1px, transparent 1px, transparent calc(100% - 1px), var(--clr-eight) calc(100% - 1px));
        background-size: 16.666666666666668% 16.666666666666668%;
        background-repeat: repeat;
        border: .50px solid var(--clr-eight);
    }

    #workScrollDownBtn {
        --btn-w: 200px;
        width: var(--btn-w);
        position: relative;
        overflow: hidden;
        transition:
            filter .25s ease-in-out,
            width .25s ease-in-out;
        @include custom-bee-color();

        &>.work-scroll-down-icon {
            @include animation(slide-in-blurred-top, .35s, cubic-bezier(0.230, 1.000, 0.320, 1.000), alternate both);
            display: none;
            position: absolute;
            left: 35%;
            top: 20%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        &:hover {
            border: solid 1px #1F1F24 !important;
            --max-w: 210px;
            width: var(--max-w) !important;
            justify-content: space-between !important;

            &>.work-scroll-down-icon {
                display: block;
            }
        }

        &:active {
            filter: blur(0px) brightness(90%) contrast(110%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
        }
    }

    @-webkit-keyframes slide-in-blurred-top {
        0% {
            -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
            -webkit-filter: blur(40px);
            filter: blur(40px);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-filter: blur(0);
            filter: blur(0);
            opacity: 1;
        }
    }

    @keyframes slide-in-blurred-top {
        0% {
            -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
            -webkit-filter: blur(40px);
            filter: blur(40px);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-filter: blur(0);
            filter: blur(0);
            opacity: 1;
        }
    }

    #buyOptions {
        background: var(--clr-eight);
    }

    .wavy-text {
        @include wavy-text(#1f1f24);
    }

    #offCanvasControls,
    #blogAsideOffcanvasTemplate {
        @include responsive-styling($all-mobile-tablet-breakpoints, display, flex);
        @include responsive-styling($desktop-small-breakpoints, display, none);
        @include responsive-styling($desktop-breakpoints, display, none);

    }

    #displayOffCanvasBtn {
        --def-size: 54px;
        width: var(--def-size);
        height: var(--def-size);
    }

    /* Scroll to top button */

    .scroll-to-top-div {
        display: hidden;
        position: fixed;
        bottom: 24px;
        right: 24px;
        cursor: pointer;
        @include custom-bee-color();
    }
}

@layer secondary {}