@use "m_queries";

// Global breakpoints
$mobile-breakpoints: phone, phone-portrait, phone-landscape;
$tablet-breakpoints: tablet, tablet-portrait, tablet-landscape;
$desktop-small-breakpoints: desktop-small, desktop-large;
$desktop-breakpoints: desktop-small, desktop-large, large-screen;
$all-mobile-tablet-breakpoints: phone, phone-portrait, phone-landscape, tablet, tablet-portrait, tablet-landscape;
$global: phone, phone-portrait, phone-landscape, tablet, tablet-portrait, tablet-landscape, desktop-small, desktop-large, large-screen;

// Helper mixins
@mixin transition($props...) {
    transition: $props;
}

@mixin borderRadius($radius) {
    border-radius: $radius;
}

@mixin hover-underline($color) {
    position: relative;
    display: inline-block;

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100%;
        border: 1px solid $color;
        border-radius: 24px;
        transform: translateX(-50%) scaleX(0);
        transform-origin: left;
        transition: transform 0.25s ease;
        z-index: 999;
    }

    &:hover::after {
        transform: translateX(-50%) scaleX(1);
    }
}

@mixin responsive-font-size($breakpoints, $size) {
    @each $bp in $breakpoints {
        @include m_queries.responsive($bp) {
            font-size: $size !important;
        }
    }
}

@mixin hide-on($breakpoints) {
    @each $bp in $breakpoints {
        @include m_queries.responsive($bp) {
            display: none !important;
        }
    }
}

@mixin show-on($breakpoint) {
    @include m_queries.responsive($breakpoint) {
        display: block !important;
    }
}

@mixin gradient-inset-box-shadow {
    box-shadow:
        inset 30px 0 30px -20px rgba(0, 0, 0, 0.05),
        inset -30px 0 30px -20px rgba(0, 0, 0, 0.05);
}

@mixin apply-to-selectors($selectors, $rules) {
    @each $selector in $selectors {
        #{$selector} {
            @content;
        }
    }
}

@mixin responsive-flex-direction($breakpoints, $direction) {
    @each $bp in $breakpoints {
        @include m_queries.responsive($bp) {
            flex-direction: $direction !important;
        }
    }
}

@mixin responsive-styling($breakpoints, $property, $value) {
    @each $bp in $breakpoints {
        @include m_queries.responsive($bp) {
            #{$property}: $value !important;
        }
    }
}

@mixin hide-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }

    & {
        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }
}

@mixin background-cover($image-path) {
    background: url($image-path);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin custom-font($font-name) {
    font-family: $font-name !important;
}

@mixin wavy-text {
    -webkit-text-decoration-style: wavy;
    -moz-text-decoration-style: wavy;
    text-decoration-style: wavy;
    text-decoration: underline wavy .07em #1F1F24;
}

@mixin dynamic-font-size($min-size, $viewport-factor, $max-size) {
    font-size: clamp($min-size, $viewport-factor, $max-size);
}

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font-family);
    font-display: var(--font-display);
    @include transition(background-color 0.25s ease-in-out, color 0.25s ease-in);
}

@layer init, secondary, third;

@layer init {

    /* htmx related */
    .htmx-anim.faded {
        opacity: .25;
    }

    .htmx-anim {
        opacity: 1;
        transition: opacity ease-in 900ms;
    }

    body {
        background: var(--clr-one) !important;
    }

    .header-btn-bg {
        color: var(--clr-two) !important;
        background: var(--clr-one) !important;
    }

    .header-btn-bg-alt,
    .header-day-night-btn,
    .header-btn-bg-important,
    .hero-btn,
    .header-responsive-btn,
    #aboutFormSubmitBtn {
        color: #1F1F24 !important;
        background: var(--clr-six) !important;
    }

    .header-btn-bg-important>span {
        @include hide-on($mobile-breakpoints);
    }

    .hr-btn-text {
        @include hover-underline(#1F1F24);
        @include transition(all .35s ease-in-out);
    }

    .hr-daynight-switch-icon {
        transform: rotate(0);
        @include transition(transform .25s ease-in-out !important);

        &:hover {
            transform: rotate(90deg);
        }
    }

    .header-day-night-btn {
        @include transition(all 0.25s ease-in-out);
    }

    #headerM {
        @include hide-on($all-mobile-tablet-breakpoints);
        @include show-on(desktop);
    }

    #headerRM {
        width: max-content !important;
        position: absolute;
        z-index: 999 !important;
        inset-inline-end: 0;
        inset-block-start: 6px;
        background: var(--bs-body-color) !important;
        animation: tilt-in-right-1 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        @include hide-on($desktop-breakpoints);

        &>ul {
            margin: .20rem !important;

            >li {
                padding: .25rem !important;

                >a {
                    min-width: 150px !important;
                }
            }
        }
    }

    @keyframes tilt-in-right-1 {
        0% {
            transform: rotateX(-30deg) translateX(300px) skewX(30deg);
            opacity: 0;
        }

        100% {
            transform: rotateX(0deg) translateX(0) skewX(0deg);
            opacity: 1;
        }
    }

    .header-responsive-btn {
        @include borderRadius(var(--rounded-sm));
        @include hide-on($desktop-breakpoints);
        @include show-on(phone);
    }

    #hrBtn,
    #hrDayNightBtn,
    #responsiveMenuToggleBtn {
        height: 54px !important;
    }

    .header-logo {
        @include borderRadius(50%);
        @include responsive-font-size($mobile-breakpoints, 54px);
        @include show-on(desktop);

        & {
            --icon-w: 54px;
            width: var(--icon-w);
            height: auto;
            object-fit: cover;
            border: 3px solid var(--clr-two);
        }
    }

    .pulsate-fwd {
        animation: pulsate-fwd 4s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite both;
    }

    @keyframes pulsate-fwd {
        100% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.15);
        }
    }

    .header-middle-nav-links>li>a {
        @include transition(all 0.25s ease-in-out);
        @include hover-underline(var(--clr-two));

        & {
            position: relative;
            display: inline-block;
        }

        &::after {
            bottom: 5.5px;
            width: 75%;
        }
    }

    #responsiveNavbar {
        flex-direction: column !important;
        width: 100%;
    }

    #hero {
        min-height: var(--sizes-content);
        background: var(--clr-eight);
    }

    .hero-child {
        @include responsive-flex-direction($all-mobile-tablet-breakpoints, column-reverse);
        @include responsive-flex-direction($desktop-breakpoints, row);

        @each $bp in $all-mobile-tablet-breakpoints {
            @include m_queries.responsive($bp) {
                padding: .75em !important;

                #hero {
                    min-height: fit-content !important;
                }

                #heroLogoBg {
                    background-position: center;
                }

                .hero-logo {
                    --logo-mw: 256px;
                    width: var(--logo-mw);
                }

                .ocps-hero-img-container,
                .ocps-container {
                    min-width: 100% !important;
                }

                .ocps-container {
                    margin-top: .75em !important;
                    gap: .65rem !important;
                }

                #mottosSection {
                    padding-bottom: .55em !important;
                }

                .motto-element {
                    font-size: .25em !important;
                    font-weight: 400 !important;
                    margin-bottom: .15em !important;
                }
            }
        }
    }

    .ocps-written-text {
        @include responsive-styling($desktop-small-breakpoints, font-size, smaller);
        @include responsive-styling($all-mobile-tablet-breakpoints, font-size, .85em);
    }

    .ocps-buttons {
        @include responsive-styling($all-mobile-tablet-breakpoints, flex-direction, column);
        @include responsive-styling($all-mobile-tablet-breakpoints, width, 100%);
    }

    .hero-btn {
        @include responsive-styling($all-mobile-tablet-breakpoints, width, 100%);
    }

    #heroLogoBg {
        @include borderRadius(var(--rounded-big));
        background-image: radial-gradient(var(--clr-five) 10%, transparent 10%);
        background-position: 5px 8px;
        background-size: 24px 24px;
    }

    .hero-logo {
        width: var(--sizes-logo);
        height: auto;
        object-fit: cover;
        @include borderRadius(50%);
    }

    .motto-element {
        color: var(--clr-one);
        background: var(--clr-two);
        animation: fade-in-fwd 0.55s cubic-bezier(.25, .46, .45, .94) both;
    }

    @keyframes fade-in-fwd {
        0% {
            transform: translateZ(-80px);
            opacity: 0;
        }

        100% {
            transform: translateZ(0);
            opacity: 1;
        }
    }

    #ocps {
        min-height: 2ch;

        >.ocps-written-text {
            font-family: monospace !important;
            display: inline-block;
            white-space: nowrap;
        }
    }

    #mottosSection {
        min-height: 8ch;
    }

    .cursor {
        display: inline-block;
        width: 1ch;
        animation: blink 1s step-end infinite;
    }

    .post-lang-img {
        width: 32px;
    }

    @keyframes blink {
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }

    #promo,
    #promoFinalNote {
        min-height: var(--sizes-content);
    }

    #pfnSocials {
        background: var(--clr-eight);
    }

    .promo-videos-container {
        @include responsive-flex-direction($mobile-breakpoints, column);
        @include responsive-flex-direction($tablet-breakpoints, row);
        @include responsive-flex-direction($desktop-breakpoints, row);

        & {
            gap: .55rem !important;
        }
    }

    .promo-motto-quote-container {
        --def-height: 256px;
        min-height: var(--def-height);
        color: #1F1F24 !important;
        background: var(--clr-six) !important;
        @include responsive-styling($all-mobile-tablet-breakpoints, align-items, start);

        &>h3 {
            @include responsive-styling($all-mobile-tablet-breakpoints, font-size, 1rem);
            @include custom-font(Franuces);
        }
    }

    .promo-motto-quote-icon {
        @include dynamic-font-size(2rem, calc(8vw + 4rem), 12rem);
    }

    .wavy-text {
        @include wavy-text;
    }

    #promo_Description {
        min-height: 450px !important;

        @each $bp in $mobile-breakpoints {
            @include m_queries.responsive($bp) {
                padding: .25em !important;
                margin: 0 !important;
                flex-direction: column-reverse !important;

                .promo-featured-tabs {
                    flex-direction: row !important;
                    overflow-x: scroll;
                    @include hide-scrollbar();
                }
            }
        }
    }

    .promo-projects-container {
        @each $bp in $mobile-breakpoints {
            @include m_queries.responsive($bp) {
                align-items: unset !important;
                justify-content: unset !important;
                flex-direction: row !important;
                flex-wrap: nowrap !important;
                overflow-x: scroll !important;
                scroll-snap-type: x mandatory;
                scroll-padding-left: 0 !important;
                @include hide-scrollbar();
            }
        }
    }

    #promoCardContainer {
        @include responsive-flex-direction($mobile-breakpoints, row);

        & {
            flex-wrap: nowrap !important;
        }

        &>div {
            @each $bp in $mobile-breakpoints {
                @include m_queries.responsive($bp) {
                    scroll-snap-align: start !important;
                    flex-shrink: 0;
                }
            }
        }
    }

    .marquee-container:hover .marquee-content {
        animation-play-state: paused;
    }

    .marquee-content {
        animation: marquee 30s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-75%);
        }
    }

    .psc-container {
        width: 100%;
        background: var(--clr-eight);
        @include gradient-inset-box-shadow;
    }

    #promoSkillsContainer {
        width: 100%;
        white-space: nowrap;

        @each $bp in $mobile-breakpoints {
            @include m_queries.responsive($bp) {
                animation: marquee 30s linear infinite;

                &:hover {
                    animation-play-state: paused;
                }

                &>.promo-skills-fig {
                    filter: brightness(100%) grayscale(0%);
                }
            }
        }
    }

    @keyframes marquee {
        0% {
            transform: translateX(150%);
        }

        100% {
            transform: translateX(-150%);
        }
    }

    .promo-skills-fig {
        flex: 0 0 auto;
        min-height: 16.1ch !important;
        width: 100px;
        height: auto;
        object-fit: cover;
        filter: brightness(65%) grayscale(25%);

        &:hover {
            filter: brightness(100%) grayscale(0%);
        }
    }

    .promo-skills-img {
        --def-wh: 100px !important;
        min-height: var(--def-wh);
        max-width: var(--def-wh);
    }

    #promoCard {
        color: var(--clr-one);
        background: var(--clr-two);
        width: 34ch;
        height: 34ch;
        min-height: 375px;
        @include borderRadius(var(--rounded-sm));

        @each $bp in $mobile-breakpoints {
            @include m_queries.responsive($bp) {
                width: 27ch !important;
            }
        }
    }

    #promoLink {
        transition: all .25s ease-in-out;

        &:hover {
            border: 1px solid var(--clr-five) !important;
        }
    }

    .promo-project-link-icon {
        display: none;
    }

    .promo-video {
        filter: opacity(85%);
    }

    .promo-socials-fig>a>img {
        width: 46px;
    }

    .p-vertical {
        width: 60px !important;
        transform: rotate(90deg);
    }

    .promo-tc-icon {
        font-size: 6rem !important;
        animation: fade-in-fwd 0.55s cubic-bezier(.25, .46, .45, .94) both;
    }

    .promo-title-container {
        @each $bp in $all-mobile-tablet-breakpoints {
            @include m_queries.responsive($bp) {
                text-align: start !important;
            }
        }
    }

    .pfns-link {
        color: var(--clr-one) !important;
        background: var(--clr-two);

        &>.pfns-icon {
            color: var(--clr-two);
            background: var(--clr-one);
        }
    }

    /* Teaching Section */
    #promoTE {
        @each $bp in $all-mobile-tablet-breakpoints {
            @include m_queries.responsive($bp) {
                display: flex !important;
                flex-direction: column !important;
                margin-top: 0 !important;
                padding: .25em !important;
                font-size: smaller !important;
            }
        }

        &>div>.pt-head>p.h1 {
            @include responsive-font-size($mobile-breakpoints, 1.85em);

            @each $bp in $mobile-breakpoints {
                @include m_queries.responsive($bp) {
                    line-height: 1.45em !important;
                }
            }
        }

        &>div>.pt-head>p {
            @include responsive-font-size($mobile-breakpoints, 1.65em);

            @each $bp in $mobile-breakpoints {
                @include m_queries.responsive($bp) {
                    line-height: 1.35em !important;
                }
            }
        }

        &>.te-img-container {
            @include hide-on($mobile-breakpoints);
        }
    }

    .te-img-container>ul>li {
        border: none !important;
    }

    .te-img-container>ul>li>img {
        width: 128px;
    }

    // Footer
    .footer-container {
        background: var(--clr-five);
        border-top-left-radius: 28px;
        border-top-right-radius: 28px;
    }

    .footer-title {
        color: var(--clr-two);
        background: var(--clr-one);
    }

    .footer-promo-links>li>a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.25rem;
        height: 3.25rem;
        font-size: 2rem;
        color: var(--clr-two) !important;
        background: var(--clr-one) !important;
        @include borderRadius(50%);
    }

    .footer-right-brand {
        width: 142px !important;
        height: 52px !important;
        aspect-ratio: 16 / 9;
    }

    /***** ABOUT *****/
    #about-aside,
    #about-main {
        background: var(--clr-eight);
    }

    #about-main {
        @include hide-scrollbar();
    }

    #about-scroll-spy-id {
        @each $bp in $mobile-breakpoints {
            @include m_queries.responsive($bp) {
                align-items: unset !important;
                justify-content: unset !important;
                flex-direction: row !important;
                flex-wrap: nowrap !important;
                overflow-x: scroll !important;
                scroll-snap-type: x mandatory !important;
                scroll-padding-left: 0 !important;
            }
        }
    }

    #about-grid-parent {
        margin-bottom: 2.75rem !important;
        @include responsive-styling($mobile-breakpoints, height, auto);
        @include responsive-styling($mobile-breakpoints, flex-direction, column);
        @include responsive-styling($mobile-breakpoints, padding-inline, .55rem);
        @include responsive-styling($mobile-breakpoints, gap, .05rem);
        @include responsive-styling($tablet-breakpoints, height, 100dvh);
        @include responsive-styling($tablet-breakpoints, flex-direction, row);
        @include responsive-styling($tablet-breakpoints, gap, .50rem);
        @include responsive-styling($tablet-breakpoints, margin, .50rem);
        @include responsive-styling($desktop-breakpoints, height, 100dvh);

        &>#about-aside {
            @include responsive-styling($mobile-breakpoints, height, fit-content);
            @include responsive-styling($desktop-breakpoints, overflow-y, scroll);
            @include responsive-styling($tablet-breakpoints, overflow-y, scroll);
            @include hide-scrollbar();
        }
    }

    .aside-skill-name {
        @include responsive-styling($tablet-breakpoints, flex-direction, column);
    }

    .aside-skill {
        @include responsive-font-size($mobile-breakpoints, .85em);
        @include responsive-font-size($tablet-breakpoints, .65em);
        @include responsive-font-size($desktop-small-breakpoints, .65em);
    }

    .about-li1-text>mark {
        border-radius: var(--rounded-sm);
    }

    .aside-socials {
        color: var(--clr-two);
        background: var(--clr-one);
        transition: all .25s ease-in-out;

        &>a>.bi-arrow-right {
            opacity: 0;
            visibility: hidden;
            transform: translateX(-6px);
        }

        &:hover>a>.bi-arrow-right {
            opacity: 1;
            visibility: visible;
            transform: translateX(6px);
        }
    }

    .aside-ico {
        --ico-w: 34px;
        width: var(--ico-w);
        height: auto;
    }

    /* Modals */
    .modal-content {
        background-color: var(--clr-eight) !important;
    }

    /* 404 */
    #err_404 {
        @include background-cover("../images/static/svg/parabolic-rectangle.svg");
    }

    /* Blog (updates) */

    #blogContainer {

        &>aside,
        main {
            background: var(--clr-eight);
        }
    }

    #blogAsideChild {
        background: var(--clr-one);
    }
}

@layer secondary {}