@font-face {
    font-family: "Inter";
    src: url(../fonts/Geist.woff2) format("woff2");
}

:root {
    /* Font */
    --font-family: Inter;
    --font-display: auto;

    /* Border Radius */
    --rounded-sm: 18px;
    --rounded-l: 23px;
    --rounded-xl: 28px;
    --rounded-xxl: 42px;

    /* Static Colors */
    --clr-three: #0F3D75;
    --clr-four: #F03D1F;
    --clr-five: #2A293B;
    --clr-six: #FCD93A;
    --clr-seven: #F9C80E;

    /* Light Theme Settings */
    &[data-bs-theme="light"] {
        --bs-body-bg: #FDF9FD;
        --bs-body-color: #1F1F24;

        --clr-one: #FDF9FD;
        --clr-two: #1F1F24;
        --clr-eight: #f0ebf0;
    }

    /* Dark Theme Settings */
    &[data-bs-theme="dark"] {
        --bs-body-bg: #1F1F24;
        --bs-body-color: #FDF9FD;

        --clr-one: #1F1F24;
        --clr-two: #FDF9FD;
        --clr-eight: #2A293B;
    }
}