@font-face {
    font-family: "Inter";
    src: url(../fonts/Geist.woff2) format("woff2");
}

:root {
    --font-family: Inter;
    --font-display: auto;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-display: var(--font-display);
}