@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--clr-two) !important;
        color: var(--clr-one) !important;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--clr-one) !important;
        color: var(--clr-two) !important;
    }
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Geist.woff2) format("woff2");
}

:root {
    --font-family: Inter;
    --font-display: auto;
    --clr-one: #FDF9FD;
    --clr-two: #1F1F24;
    --clr-three: #0F3D75;
    --clr-four: #F03D1F;
    --clr-five: #2A293B;
    --clr-six: #FCD93A;
    --clr-seven: #F9C80E;
    --rounded-pill: 23px;
    --rounded-big: 28px;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-display: var(--font-display);
}

@layer init, secondary, third;

@layer init {
    body {
        background: var(--clr-one) !important;
        /* Temporary */
        min-height: 100vh !important;
    }

    /* Header */
    .header-bg {
        background: var(--clr-five);
        border-radius: var(--rounded-big);
    }

    .header-btn-bg {
        color: var(--clr-two) !important;
        background: var(--clr-one) !important;
    }

    .header-btn-bg-alt,
    .header-btn-bg-important {
        color: var(--clr-five);
        background-color: var(--clr-six) !important;
    }

    .header-btn-bg-important {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }

    .hr-btn-text {
        position: relative;
        display: inline-block;
        transition: all ease-in-out .5s;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0px;
            width: 100%;
            border: 1px solid var(--clr-five);
            border-radius: 24px;
            z-index: 999;
            transform: translateX(-50%) scaleX(0);
            transform-origin: left;
            transition: transform .25s ease;
        }

        &:hover::after {
            transform: translateX(-50%) scaleX(1);
        }
    }

    .hr-btn-logo {
        transform: rotate(0deg);
        transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    }

    .header-btn-bg-alt {
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-top-right-radius: var(--rounded-pill) !important;
        border-bottom-right-radius: var(--rounded-pill) !important;
        transition: all .25s ease-in-out;

        &:hover {
            .hr-btn-logo {
                transform: rotate(90deg);
            }
        }
    }

    .header-logo {
        width: 54px;
        height: auto;
        border: 2px solid transparent;
        border-radius: 50%;
        object-fit: cover;
    }

    .pulsate-fwd {
        -webkit-animation: pulsate-fwd 4s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite both;
        animation: pulsate-fwd 4s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite both;
    }

    @keyframes pulsate-fwd {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.15);
        }

        100% {
            transform: scale(1);
        }
    }

    .header-middle-nav-links {
        &>li>a {
            position: relative;
            display: inline-block;
            transition: all ease-in-out .25s;

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 7.5px;
                width: 75%;
                border: 1px solid var(--clr-five);
                border-radius: var(--rounded-pill);
                transform: translateX(-50%) scaleX(0);
                transform-origin: left;
                transition: transform .25s ease;
            }

            &:hover::after {
                transform: translateX(-50%) scaleX(1);
            }
        }
    }

    /********** Footer **********/

    .footer-container {
        background: var(--clr-five);
        border-top-left-radius: 28px;
        border-top-right-radius: 28px;
    }

    .footer-title {
        color: var(--clr-two);
        background: var(--clr-one);
    }

    .footer-promo-links>li>a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.25rem;
        height: 3.25rem;
        font-size: 2rem;
        color: var(--clr-two) !important;
        background: var(--clr-one) !important;
        border-radius: 50%;
    }

    .footer-right-brand {
        width: 142px !important;
        height: 52px !important;
        aspect-ratio: 16 / 9;
    }
}

@layer secondary {}