* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-display: var(--font-display);
    transition: background-color .25s ease-in-out, color .25s ease-in;
}

@layer init, secondary, third;

@layer init {
    body {
        background: var(--clr-one) !important;
    }

    /* Header */

    .header-btn-bg {
        color: var(--clr-two) !important;
        background: var(--clr-one) !important;
    }

    .header-btn-bg-alt,
    .header-day-night-btn,
    .header-btn-bg-important,
    .hero-btn {
        color: var(--clr-two) !important;
        background-color: var(--clr-six) !important;
    }

    .hr-btn-text {
        position: relative;
        display: inline-block;
        transition: all ease-in-out .5s;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0px;
            width: 100%;
            border: 1px solid var(--clr-five);
            border-radius: 24px;
            z-index: 999;
            transform: translateX(-50%) scaleX(0);
            transform-origin: left;
            transition: transform .25s ease;
        }

        &:hover::after {
            transform: translateX(-50%) scaleX(1);
        }
    }

    .hr-daynight-switch-icon {
        transform: rotate(0deg);
        transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    }

    .header-day-night-btn {
        transition: all .25s ease-in-out;

        &:hover {
            .hr-daynight-switch-icon {
                transform: rotate(90deg);
            }
        }
    }

    .header-logo {
        width: 64px;
        height: auto;
        border: 3px solid var(--clr-two);
        border-radius: 50%;
        object-fit: cover;
    }

    .pulsate-fwd {
        -webkit-animation: pulsate-fwd 4s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite both;
        animation: pulsate-fwd 4s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite both;
    }

    @keyframes pulsate-fwd {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.15);
        }

        100% {
            transform: scale(1);
        }
    }

    .header-middle-nav-links {
        &>li>a {
            position: relative;
            display: inline-block;
            transition: all ease-in-out .25s;

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 5.5px;
                width: 75%;
                border: 1px solid var(--clr-two);
                transform: translateX(-50%) scaleX(0);
                transform-origin: left;
                transition: transform .25s ease;
            }

            &:hover::after {
                transform: translateX(-50%) scaleX(1);
            }
        }
    }

    /********** Hero **********/
    #hero {
        min-height: 650px !important;
        background: var(--clr-eight);
    }

    #heroLogoBg {
        border-radius: var(--rounded-big);
        background-image:
            radial-gradient(var(--clr-five) 10%, transparent 10%);
        background-position: 5px 8px;
        background-size: 24px 24px;
    }

    .hero-logo {
        --logo-w: 412px;
        width: var(--logo-w);
        height: auto;
        object-fit: cover;
        border-radius: 50%;
    }

    .motto-elements {
        color: var(--clr-one);
        background: var(--clr-two);
        -webkit-animation: fade-in-fwd .55s cubic-bezier(.25, .46, .45, .94) both;
        animation: fade-in-fwd .55s cubic-bezier(.25, .46, .45, .94) both
    }

    @keyframes fade-in-fwd {
        0% {
            transform: translateZ(-80px);
            opacity: 0
        }

        100% {
            transform: translateZ(0);
            opacity: 1
        }
    }

    #ocps {
        min-height: 2ch;

        &>.ocps-written-text {
            font-family: monospace !important;
            display: inline-block;
            white-space: nowrap;
        }
    }

    #mottosSection {
        min-height: 8ch;
    }

    .cursor {
        display: inline-block;
        width: 1ch;
        animation: blink 1s step-end infinite;
    }

    @keyframes blink {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }

    /********** Promo **********/

    #promo {
        min-height: 650px !important;
    }

    .marquee-container {
        &:hover {
            .marquee-content {
                animation-play-state: paused;
            }
        }
    }

    .marquee-content {
        animation: marquee 30s linear infinite;
    }

    .marquee-item-img {
        width: 128px;
        filter: grayscale(75%);
    }

    @keyframes marquee {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-75%);
        }
    }

    #promoCard {
        width: 34ch;
        height: 34ch;
        border-radius: var(--rounded-sm);
    }

    #promoLink {
        min-width: 5.5ch;
        border-top: 6px solid var(--clr-one) !important;
        border-left: 6px solid var(--clr-one) !important;
        border-top-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        transition: min-width .25s ease-in-out;

        &:hover {
            min-width: 7.30ch;

            .promo-project-link-icon {
                display: inline-block;
            }
        }
    }

    .promo-project-link-icon {
        display: none;
    }

    /********** Footer **********/

    .footer-container {
        background: var(--clr-five);
        border-top-left-radius: 28px;
        border-top-right-radius: 28px;
    }

    .footer-title {
        color: var(--clr-two);
        background: var(--clr-one);
    }

    .footer-promo-links>li>a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.25rem;
        height: 3.25rem;
        font-size: 2rem;
        color: var(--clr-two) !important;
        background: var(--clr-one) !important;
        border-radius: 50%;
    }

    .footer-right-brand {
        width: 142px !important;
        height: 52px !important;
        aspect-ratio: 16 / 9;
    }
}

@layer secondary {}